@import '~antd/dist/antd.css';

.layout{
  display: flex;
  flex-direction: column;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.subMenu {
  display: none !important;
}

.photo-card{
  width: 80%;
}

@media only screen and (max-width: 700px) {
  .menuExpanded {
    display: none !important;
  }
  .subMenu {
    float: right !important;
    display: block !important;
  }
  .photo-card{
    width: 100%;
  }
  .sub-title{
    display:none !important;
  }
}

.site-layout-content {
  background: #fff;
  padding: 5px;
  
}
.logo {
  width: 185px;
  height: 40px;
  background: #f5f5f5;
  margin: 12px 30px 10px 0px;
  padding-left: 5px;
  float: left;
}

.site-layout .site-layout-background {
  background: #fff;
}

.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}

.site-footer {
  background-color: #001529;
  color:white
}
#customize-list{
  float:left;
  margin-left:20px;
  list-style:none;
}
#gr_updates_widget{
  float:left;
  border-radius: 5px;
  background-color:#fff;
  border:solid #683205 10px;
  -webkit-box-shadow: 0px 0px 4px 1px #595959,
  inset 0px 0px 0px 1px #7D730B;
  -moz-box-shadow: 0px 0px 4px 1px #595959,
  inset 0px 0px 0px 1px #7D730B;
  box-shadow: 0px 0px 4px 1px #595959,
  inset 0px 0px 0px 1px #7D730B;
  padding:15px 0 0px 15px;
  width:290px;
  height:365px;
}
#gr_footer{
  margin-bottom:0px;
  height:30px;
}
#gr_updates_widget p{
  padding:0px;
  margin:0;
  font-size:14px;
}
#gr_footer img{
  width:100px;
  float:left;
}
